body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  <!--color: white;-->
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  <!--color: white;-->
}

h4 {

}

footer {
  background-color: dimgray;
}

p.footer {
  font-size: 11px;
  color: white;
}
