body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 23px;
}

h1,
h2,
h4 {
  font-weight: bold;
}

a {
  color: white;
}

p {
  font-size: 14px;
}

.flatiron {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
  color: white;
}

.footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

.footer p {
  font-size: 11px;
}

.footer a {
  justify-content: space-between;
  font-weight: bold;
}
